@import "./../../SASS/mixings";

.search-box {
  width: 80%;

  .search {
    padding: 0 5px;
    outline: none;
    width: 100%;
    height: 6vmin;
    font-size: larger;
    font-style: italic;
    color: rgba(75, 30, 73, 1);

    @include BP(tablet) {
      font-size: large;
      margin-left: 8px;
      height: 10vmin;
    }
  }
}
