@import "./../../SASS/mixings";

.categories-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include BP(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
