@import "./../../SASS/mixings";

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include BP(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
