@import "./../../SASS/mixings";

.product-type-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  padding: 2vh;

  @include BP(tablet) {
    grid-template-columns: (1fr 1fr);
  }
  @include BP(mobile) {
    grid-template-columns: (1fr);
  }
}

.product-type {
  h1 {
    text-align: center;
  }
}

.filtered-type-content {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr 1fr);
  column-gap: 10px;
  row-gap: 50px;
  padding: 2vh;
}
