@import "../../SASS/_mixings";

.navigation {
  max-height: 10%;
  padding: 1vw;
  position: sticky;
  background-color: rgba(75, 30, 73, 1);
  color: white;
  font-style: italic;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include BP(tablet) {
      flex-direction: column;
      width: 100%;
    }

    .logo-and-search-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include BP(tablet) {
        height: 50%;
        width: 100%;
        padding: 5px 0;
        justify-content: center;
      }

      .logo-container {
        width: 10%;
        height: 6vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include BP(tablet) {
          height: 10vmin;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 15px;

      > * {
        margin: 0 15px;
      }

      @include BP(tablet) {
        width: 100%;
        padding: 10px 5px;
        justify-content: space-between;

        & a {
          font-size: 16px;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  font-size: 2.5vmin;
  color: white;
}

.nav-link {
  border: 1px solid rgb(237, 192, 234);
  padding: 1.4vmin;
  margin: 1vmin;
  font-weight: bolder;
  cursor: pointer;
  color: rgb(237, 192, 234);
  border-radius: 6px;

  &:hover {
    background-color: rgb(237, 192, 234);
    color: rgba(75, 30, 73, 1);
  }
}
