@import "./../../SASS/mixings";

.category-container {
  width: 30%;
  height: 40vh;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 1vh 1vw;
  cursor: pointer;
  transition: 0.33s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  

  &:active {
  transform: scale(1.1);
}

  @include BP(tablet) {
    width: 95%;
    margin: 1vh 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: white;

    .category-body-container {
      transform: scale(1.15);
    }
  }

  .category-body-container {
    height: 100px;
    width: 200px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    transition: 0.33s;
    color: rgba(75, 30, 73, 1);

    h2 {
      font-weight: bold;
      font-style: italic;
        color: rgba(75, 30, 73, 1);
      margin: 0 6px 0;
      font-size: 30px;
    
      
    }

    p {
      font-size: 24px;
    }
  }
}
